<!DOCTYPE html>
<html lang="en">
<head>
   {{template "general/header"}}
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-gradient-to-tr from-blue-200 via-purple-200 to-red-200">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg border rounded-lg">
            <h1 class="text-2xl font-bold text-center mb-5">Welcome to kanban app</h1>
            <a href="/register">
                <button class="px-6 w-full justify-center py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Register</button>
            </a>
         <br>
            <a href="/login">            
                <button class="px-6 w-full justify-center py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Login</button>
            </a>
        </div>
    </div>
</body>
</html>